html, body {
  background: #3b3f41;
  color: #ccc;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
}

.borders {
  border-style: solid;
  border-width: 2px;
  border-color: red;
}

.buffer {
  font-family: "Fantasque Sans Mono";
  font-style: italic;
  font-size: 11pt;
}

.rows {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.columns {
  display: flex;
  flex-flow: row;
  height: 100vh;
}

.column {
  flex: 1;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.column-c0 {
  order: 1;
}

.column-c1 {
  order: 2;
}

.column-c2 {
  order: 3;
}

#left {
  float: left;
  overflow: auto;
  width: 50%;
}
#right {
  margin-left: 50%;
  border-left-width: 5px;
  border-left-style: solid;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
